<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Redirects</title>
	<link rel="stylesheet" href="/css/base.css">
</head>
<body>
	<section id="todoapp">
		<header id="header">
			<h1>Redirects</h1>
		</header>
		<section id="main">
			<ul id="todo-list">
				<% @redirects.each do |redirect| %>
					<li>
						<div class="view">
						  <span class="timestamp"><%= redirect['timestamp'] %> =&gt;</span>
						  <span class="target"><%= redirect['target'] %></span>
						</div>
					</li>
				<% end %>
			</ul>
		</section>
	</section>
</body>
</html>
